$primary: #3B3B3B;
$primary_20: #626262;
$primary_30: #767676;
$secondary: #6D4AFF;
$assist: #9981FF;
$focus: #35CDFD;
$error: #D72323;
$white: #fff;
$black: #000;
$black_5: #F2F2F2;
$black_30: #B2B2B2;
$bg: #F7F7F7;